channel-name:
  project:
    - project-all-alerts*
    - project-alerts-dependent-on-owner
  owner:
    - owner-1
    - owner-2
    - owner-3

channel-2-name:
  emoji: false
  project:
    - project2*
